.donate {
  display: flex;
  flex-flow: column;
  width: 500px;
  align-items: center;

  &__header {
    margin-bottom: 20px;
    text-align: center;
  }

  &__methods {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    width: 45%;
    display: flex;
    flex-flow: column;
  }

  &__method {
    display: flex;
    justify-content: center;
  }

  &__text {
    text-align: center;
  }

  &__img {
    margin-bottom: -10px;

    &--webmoney {
      width: 150px;
      height: 150px;
      margin: -40px 0;
    }
  }
}
