footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  background: @blue;
  justify-content: center;
  align-items: center;
  z-index: 200;

  @media @tablet {
    position: absolute;
    z-index: 1000;
    bottom: 0;
  }

  @media @mobile {
    height: 40px;
  }
}

.footer-text {
  color: @white;
  font-size: 26px;

  @media @tablet {
    font-size: 22px;
  }

  @media @mobile {
    font-size: 20px;
  }

  a {
    color: @white;
    .hoverLink();
  }
}
