header {
  width: 100%;
  height: 70px;
  background: @blue;
  z-index: 200;
  display: flex;
  align-items: center;

  @media @tablet {
    position: absolute;
    z-index: 1000;
  }

  @media @mobile {
    height: 60px;
  }
}

.header-wrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media @tablet {
    justify-content: center;
  }
}

.logo {
  color: @white;
  font-weight: 600;
  font-size: 46px;
  .hoverLink;

  @media @tablet {
    margin-left: 0;
    font-size: 38px;
  }

  @media @mobile {
    margin-left: 0;
    font-size: 32px;
  }
}

.nav {

  @media @tablet {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: @white;
    font-size: 26px;
    position: relative;
    transition: opacity 0.4s;

    &--disabled {
      cursor: default !important;
      opacity: 0.4;

      &:active {
        opacity: 0.4 !important;
      }

      &:hover::after {
        width: 0% !important;
      }
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: '';
      width: 0%;
      height: 2px;
      display: block;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -2px;
      background: @white;
      transition: width 0.4s;
    }

    &:hover::after {
      width: 100%;
    }

    &--active {
      &:hover {
        cursor: default;
      }

      &:active {
        opacity: 1;
      }

      &::after {
        width: 100%;
      }
    }
  }
}
