.help-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 900px;
  padding: 0 20px;
  height: 90%;
  position: absolute !important;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  &__header {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__text-block {
    text-align: center;
    width: 900px;
    padding: 0 50px;
    margin-bottom: 20px;
  }

  &__list {
    width: 800px;
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 20px;
  }

  &__text-header {
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__link {
    background: @white;
    padding: 10px;
    border: 3px solid @gray-db;
    border-radius: 20px;
    transition: all 0.4s;
    margin: 0 20px;
    line-height: 1;

    &:hover {
      border-color: @blue;
    }
  }
}

.mCSB_container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mCSB_dragger_bar {
  background: @blue !important;
  width: 6px !important;
  border-radius: 3px !important;
}
