.date-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin-bottom: 20px;

  &__btn {
    padding: 0 30px;
    border-radius: 10px;
    background: @blue;
    color: @white;
    transition: opacity 0.4s;
    display: inline-block;
    line-height: 31px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__date-input {
    width: 130px;
    margin-right: 10px;
    transition: opacity 0.4s;
    border: 2px solid @blue;
    border-radius: 10px;
    background: @gray-f2;
    font-size: 18px;
    text-align: center;
    padding: 0;
    line-height: 27px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background: @white;
    }
  }

  &__date-label {
    transition: opacity 0.4s;

    &:hover {
      cursor: pointer;
    }
  }

  &__ranges {
    position: relative;
    padding: 0 30px;
    border-radius: 10px;
    background: @blue;
    color: @white;
    margin-right: 10px;
    transition: opacity 0.4s;
    display: inline-block;
    line-height: 31px;

    &:hover {
      cursor: pointer;
    }

    &--open {
      cursor: pointer;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      ul {
        visibility: visible;
      }
    }
  }

  &__list {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 31px;
    left: 0;
    visibility: hidden;
    border: 2px solid @blue;
    list-style: none;
    display: flex;
    flex-flow: column;
    background: @white;
    color: @black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    &-item {
      border-bottom: 2px solid @blue;
      width: 100%;
      text-align: center;
      transition: color 0.4s, background-color 0.4s;
      line-height: 1.6;

      &:hover {
        background: @blue--light;
        color: @white;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.error-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: @red;
  border: 2px solid @red;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 20px;
  background: @white;
}

.limits {
  display: flex;
  list-style: none;
  width: 900px;
  overflow: hidden;
  margin-bottom: 20px;

  &__item {
    flex-grow: 1;
    border: 2px solid @blue;
    border-right: none;
    overflow: hidden;

    &--active {
      background: @blue;

      a {
        color: @white;

        &:hover {
          cursor: default;
          opacity: 1;
        }
      }
    }

    &:last-child {
      border-right: 2px solid @blue;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
      background: @blue;
      color: @white;
    }
  }
}

.results {
  width: 900px;
  border-collapse: collapse;
  font-size: 20px;
  border: 2px solid @blue;

  &__cell, &__header {
    border: 1px solid @blue;
  }

  &__row {
    border: 2px solid @blue;
  }

  &__cell {
    vertical-align: middle;
    text-align: center;
    line-height: 1.4;

    &--double {
      line-height: 2.8;
      padding: 3px 1px;
    }

    &--red {
      color: @red;
    }

    &--green {
      color: @green;
    }
  }
}
