.selecting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 70px 0 50px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 70px;
    bottom: 50px;
    left: 0;
    background: @gray-f2;
    z-index: 100;
  }

  &__icon {
    margin-bottom: 20px;
    z-index: 200;
  }

  &__text {
    z-index: 200;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
