.page--upload {
  display: flex;
}

.upload-form {
  display: flex;
  flex-flow: column;
  position: relative;

  &__label {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    font-size: 28px;
    text-transform: uppercase;
    .hoverLink();
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__input {
    display: none;
  }

  &__error {
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center;
    color: @red;
    border: 2px solid @red;
    border-radius: 10px;
    padding: 5px 0;
    font-size: 20px;
  }
}
