.wrong-browser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 0 50px;
  background: @gray-f2;
  z-index: 150;
  justify-content: center;
  align-items: center;
  display: flex;

  @media @mobile {
    padding: 60px 20px 40px;
  }

  p {
    font-size: 22px;
    text-align: center;
    max-width: 550px;

    @media @mobile {
      font-size: 18px;
    }
  }
}
