doctype html
html(lang='ru')
  head
    include ../partials/head
  body
    include ../partials/svg
    include index/selecting
    include index/loading
    header      
      include ../partials/header
    main      
      include index/wrong-resolution
      include index/wrong-browser
      include index/upload
      include index/help
      include index/result
      include index/donate
      include index/404
    footer
      include ../partials/footer
  script(src='js/main--min.js')
      
