+b('section').page.--donate.hidden
  +b.donate
    +e('p').header If you enjoyed this application, you can support the project via these services
    +e.methods
      +e.column
        +e.method.--card
          +e('svg').img.--visa(width="100", height="70")
            use(xlink:href="#visa")
          +e('svg').img.--mastercard(width="100", height="70")
            use(xlink:href="#mastercard")
        +e('span').text 4377731430286416
        +e.method
          +e('svg').img.--skrill(width="100", height="70")
            use(xlink:href="#skrill")
        +e('span').text art-baks@mail.ru
      +e.column
        +e.method
          +e('svg').img.--webmoney(width="100", height="70")
            use(xlink:href="#paypal")
        +e('span').text art-baks@mail.ru
