.page.page--donate.hidden
  .donate
    p.donate__header If you enjoyed this application, you can support the project via these services
    .donate__methods
      .donate__column
        .donate__method.donate__method--card
          svg.donate__img.donate__img--visa(width="100", height="70")
            use(xlink:href="#visa")
          svg.donate__img.donate__img--mastercard(width="100", height="70")
            use(xlink:href="#mastercard")
        span.donate__text 4377731430286416
        .donate__method
          svg.donate__img.donate__img--visa(width="100", height="70")
            use(xlink:href="#skrill")
        span.donate__text art-baks@mail.ru
      .donate__column
        .donate__method
          svg.donate__img.donate__img--webmoney(width="100", height="70")
            use(xlink:href="#webmoney")
        span.donate__text Z324824906139
        span.donate__text E329220658387
        span.donate__text R133279574281
      
