+b('section').page.--result.hidden
  +b.date-range
    +e.ranges Set Date Range
      +e('ul').list
        +e('li').list-item(data-range='Today' onclick='room.setRange(this)') Today
        +e('li').list-item(data-range='Yesterday' onclick='room.setRange(this)') Yesterday
        +e('li').list-item(data-range='Last 7 days' onclick='room.setRange(this)') Last 7 days
        +e('li').list-item(data-range='This month' onclick='room.setRange(this)') This month
        +e('li').list-item(data-range='Last month' onclick='room.setRange(this)') Last month
        +e('li').list-item(data-range='This year' onclick='room.setRange(this)') This year
        +e('li').list-item(data-range='Last year' onclick='room.setRange(this)') Last year
        +e('li').list-item(data-range='All time' onclick='room.setRange(this)') All time
    +e('label').date-label(for="date-from") from
    +e('input').date-input(readonly type="text" id="date-from" name="date-from")
    +e('label').date-label(for="date-to") to (excluding)
    +e('input').date-input(readonly type="text" id="date-to" name="date-to")
    +e('a').btn#dateFilterBtn(onclick='room.filter()') Apply Filter
  ul.limits#limits
  table.results
    thead#headers      
    tbody#results      
    tfoot#summaries
  p.error-result.hidden There are no played tournaments in chosen date range
      
