+b('section').wrong-resolution
  p. 
    This application is not supported on small screen resolutions. 
    Please make sure that width and height of your browser window is more than 
    1024 and 640 pixels respectively.
