* {
    box-sizing: border-box;

    @media @mobile {
        transition-duration: 0s !important;
    }
}

body {
	width: 100%;
	position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: @gray-f2;
  overflow: hidden;
}

.page {
  display: flex;
  position: relative;
  flex-flow: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

a,
a:link,
a:visited,
a:visited:hover,
a:hover,
a:active {
	text-decoration: none;
	outline: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

input:focus, textarea:focus {
	outline: none;
}

button {
  border: none;
  padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}
