body {
	font-size: 22px;
	font-weight: 400;
  line-height: 1.4;
	font-family: "Signika", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;

	@media @tablet {
    font-size: 16px;
  }

  @media @mobile {
    font-size: 14px;
  }
}

h1 {
	font-size: @h1-desktop;

	@media @tablet {
		font-size: @h1-tablet;
	}

	@media @mobile {
		font-size: @h1-mobile;
	}
}

h2 {
	font-size: @h2-desktop;

	@media @tablet {
		font-size: @h2-tablet;
	}

	@media @mobile {
		font-size: @h2-mobile;
	}
}

h3 {
	font-size: @h3-desktop;

	@media @tablet {
		font-size: @h3-tablet;
	}

	@media @mobile {
		font-size: @h3-mobile;
	}
}

h4 {
	font-size: @h4-desktop;

	@media @tablet {
		font-size: @h4-tablet;
	}

	@media @mobile {
		font-size: @h4-mobile;
	}
}
