.header-wrapper
  a.logo(href="#") Spin Counter
  nav.nav
    ul.nav__list
      li.nav__item
        a.nav__link.nav__link--active(href="#") Upload
      li.nav__item
        a.nav__link.nav__link--disabled(href="#results") Results
      li.nav__item
        a.nav__link(href="#help") Help
      li.nav__item
        a.nav__link(href="#donate") Donate
