meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  
meta(name='title' content='Spin Counter')
meta(name='description' content='Spin Counter is a donationware application for statistics calculation of Spin and Go tournaments on PokerStars.')
meta(name='keywords' content='poker, PS, spin, EV, ROI, ITM, calculations, tournament, multiplier, chips, jackpot, statistics, counter')

link(rel='shortcut icon' href='img/favicon/favicon.ico' type='image/x-icon')
link(rel='apple-touch-icon' href='img/favicon/apple-touch-icon.png')
link(rel='apple-touch-icon' sizes='72x72' href='img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon' sizes='114x114' href='img/favicon/apple-touch-icon-114x114.png')

title Spin Counter

link(href='css/vendor.css', rel='stylesheet')
link(href='css/styles--min.css', rel='stylesheet')
  
link(href="https://fonts.googleapis.com/css?family=Signika:400,600,700", rel="stylesheet")
    
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
