meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  
meta(name='title' content='Spin Counter')
meta(name='description' content='Spin Counter is a donationware application for statistics calculation of Spin and Go tournaments on PokerStars.')
meta(name='keywords' content='poker, PS, spin, EV, ROI, ITM, calculations, tournament, multiplier, chips, jackpot, statistics, counter')

link(rel='apple-touch-icon-precomposed' sizes='114x114' href='img/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon-precomposed' sizes='72x72' href='img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon-precomposed' sizes='144x144' href='img/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon-precomposed' sizes='152x152' href='img/favicon/apple-touch-icon-152x152.png')
link(rel='icon' type='image/png' href='img/favicon/favicon-32x32.png' sizes='32x32')
link(rel='icon' type='image/png' href='img/favicon/favicon-16x16.png' sizes='16x16')
meta(name='msapplication-TileColor' content='#FFFFFF')
meta(name='msapplication-TileImage' content='img/favicon/mstile-144x144.png')

meta(property="og:title" content="Spin Counter")
meta(property="og:description" content="Spin Counter is a donationware application for statistics calculation of Spin and Go tournaments on PokerStars.")
meta(property="og:image" content="https://v1z.github.io/SpinCounter/img/results.jpg")
meta(property="og:type" content="website")
meta(property="og:url" content="https://v1z.github.io/SpinCounter")
meta(property="og:site_name" content="Spin Counter")

meta(name="twitter:title" content="Spin Counter")
meta(name="twitter:description" content="Spin Counter is a donationware application for statistics calculation of Spin and Go tournaments on PokerStars.")
meta(name="twitter:image" content="https://v1z.github.io/SpinCounter/img/results.jpg")

title Spin Counter

link(href='css/vendor.css', rel='stylesheet')
link(href='css/styles--min.css', rel='stylesheet')
  
link(href="https://fonts.googleapis.com/css?family=Signika:400,600,700", rel="stylesheet")
    
script(src='https://code.jquery.com/jquery-2.2.4.min.js')
