svg.hidden
  symbol#download(viewBox="0 0 41.712 41.712")
    path(d="M31.586,21.8c0.444-0.444,0.444-1.143,0-1.587c-0.429-0.444-1.143-0.444-1.571,0l-8.047,8.032V1.706 c0-0.619-0.492-1.127-1.111-1.127c-0.619,0-1.127,0.508-1.127,1.127v26.539l-8.031-8.032c-0.444-0.444-1.159-0.444-1.587,0 c-0.444,0.444-0.444,1.143,0,1.587l9.952,9.952c0.429,0.429,1.143,0.429,1.587,0L31.586,21.8z M39.474,29.086 c0-0.619,0.492-1.111,1.111-1.111c0.619,0,1.127,0.492,1.127,1.111v10.92c0,0.619-0.508,1.127-1.127,1.127H1.111 C0.492,41.133,0,40.625,0,40.006v-10.92c0-0.619,0.492-1.111,1.111-1.111s1.127,0.492,1.127,1.111v9.809h37.236V29.086z")
  symbol#uploading(viewBox="0 0 48.965 48.965")
    path(d="M24.157,42.474l-1.921-2.825c-0.349-0.508-0.222-1.206,0.302-1.556 c0.508-0.349,1.19-0.206,1.54,0.302l3.095,4.555c0.317,0.413,0.302,1-0.048,1.413l-3.651,4.222c-0.397,0.46-1.095,0.508-1.571,0.111 c-0.46-0.413-0.508-1.111-0.111-1.587l2.095-2.413c-0.698-0.016-1.381-0.079-2.079-0.175c-1.095-0.143-2.19-0.381-3.286-0.73 c-5.317-1.651-9.476-5.301-11.872-9.873c-2.413-4.571-3.063-10.063-1.413-15.381c1.032-3.317,2.841-6.19,5.158-8.46 c2.413-2.349,5.381-4.063,8.603-4.968c0.587-0.175,1.206,0.175,1.381,0.762c0.175,0.603-0.175,1.222-0.778,1.381 c-2.857,0.825-5.508,2.349-7.635,4.428c-2.079,2.016-3.682,4.555-4.587,7.508c-1.476,4.73-0.889,9.619,1.238,13.682 c2.143,4.063,5.825,7.317,10.555,8.793c0.984,0.302,1.968,0.508,2.936,0.651C22.792,42.41,23.474,42.458,24.157,42.474 L24.157,42.474z M29.966,43.855c-0.587,0.175-1.206-0.175-1.381-0.778c-0.159-0.587,0.175-1.206,0.778-1.381 c2.873-0.81,5.508-2.333,7.65-4.428c2.063-2.016,3.666-4.555,4.587-7.492c1.46-4.746,0.873-9.619-1.254-13.698 C38.204,12.014,34.521,8.76,29.792,7.3c-0.984-0.302-1.952-0.524-2.936-0.651c-0.683-0.095-1.365-0.143-2.032-0.159l1.905,2.825 c0.349,0.508,0.222,1.206-0.286,1.54c-0.508,0.349-1.206,0.222-1.555-0.286l-3.095-4.571c-0.317-0.413-0.302-1,0.048-1.397 L25.49,0.38c0.397-0.46,1.111-0.508,1.571-0.111c0.46,0.397,0.524,1.111,0.111,1.571l-2.095,2.413 c0.698,0.032,1.381,0.079,2.079,0.175c1.095,0.159,2.19,0.397,3.286,0.73c5.333,1.667,9.476,5.317,11.872,9.889 c2.413,4.571,3.063,10.063,1.413,15.381c-1.032,3.317-2.841,6.174-5.158,8.444C36.156,41.22,33.188,42.934,29.966,43.855 L29.966,43.855z")
  symbol#visa(viewBox="0 0 504 504")
    polygon(style="fill:#3C58BF;" points="184.8,324.4 210.4,180.4 250.4,180.4 225.6,324.4 ")
    polygon(style="fill:#293688;" points="184.8,324.4 217.6,180.4 250.4,180.4 225.6,324.4 ")
    path(style="fill:#3C58BF;" d="M370.4,182c-8-3.2-20.8-6.4-36.8-6.4c-40,0-68.8,20-68.8,48.8c0,21.6,20,32.8,36,40 s20.8,12,20.8,18.4c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8 c42.4,0,70.4-20,70.4-50.4c0-16.8-10.4-29.6-34.4-40c-14.4-7.2-23.2-11.2-23.2-18.4c0-6.4,7.2-12.8,23.2-12.8 c13.6,0,23.2,2.4,30.4,5.6l4,1.6L370.4,182L370.4,182z")
    path(style="fill:#293688;" d="M370.4,182c-8-3.2-20.8-6.4-36.8-6.4c-40,0-61.6,20-61.6,48.8c0,21.6,12.8,32.8,28.8,40 s20.8,12,20.8,18.4c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8 c42.4,0,70.4-20,70.4-50.4c0-16.8-10.4-29.6-34.4-40c-14.4-7.2-23.2-11.2-23.2-18.4c0-6.4,7.2-12.8,23.2-12.8 c13.6,0,23.2,2.4,30.4,5.6l4,1.6L370.4,182L370.4,182z")
    path(style="fill:#3C58BF;" d="M439.2,180.4c-9.6,0-16.8,0.8-20.8,10.4l-60,133.6h43.2l8-24h51.2l4.8,24H504l-33.6-144H439.2z M420.8,276.4c2.4-7.2,16-42.4,16-42.4s3.2-8.8,5.6-14.4l2.4,13.6c0,0,8,36,9.6,44h-33.6V276.4z")
    path(style="fill:#293688;" d="M448.8,180.4c-9.6,0-16.8,0.8-20.8,10.4l-69.6,133.6h43.2l8-24h51.2l4.8,24H504l-33.6-144H448.8z M420.8,276.4c3.2-8,16-42.4,16-42.4s3.2-8.8,5.6-14.4l2.4,13.6c0,0,8,36,9.6,44h-33.6V276.4z")
    path(style="fill:#3C58BF;" d="M111.2,281.2l-4-20.8c-7.2-24-30.4-50.4-56-63.2l36,128h43.2l64.8-144H152L111.2,281.2z")
    path(style="fill:#293688;" d="M111.2,281.2l-4-20.8c-7.2-24-30.4-50.4-56-63.2l36,128h43.2l64.8-144H160L111.2,281.2z")
    path(style="fill:#FFBC00;" d="M0,180.4l7.2,1.6c51.2,12,86.4,42.4,100,78.4l-14.4-68c-2.4-9.6-9.6-12-18.4-12H0z")
    path(style="fill:#F7981D;" d="M0,180.4L0,180.4c51.2,12,93.6,43.2,107.2,79.2l-13.6-56.8c-2.4-9.6-10.4-15.2-19.2-15.2L0,180.4z")
    path(style="fill:#ED7C00;" d="M0,180.4L0,180.4c51.2,12,93.6,43.2,107.2,79.2l-9.6-31.2c-2.4-9.6-5.6-19.2-16.8-23.2L0,180.4z")
    g
      path(style="fill:#051244;" d="M151.2,276.4L124,249.2l-12.8,30.4l-3.2-20c-7.2-24-30.4-50.4-56-63.2l36,128h43.2L151.2,276.4z")
      polygon(style="fill:#051244;" points="225.6,324.4 191.2,289.2 184.8,324.4 	")
      path(style="fill:#051244;" d="M317.6,274.8L317.6,274.8c3.2,3.2,4.8,5.6,4,8.8c0,9.6-12.8,14.4-24,14.4c-16,0-24.8-2.4-38.4-8 l-5.6-2.4l-5.6,32.8c9.6,4,27.2,8,45.6,8c25.6,0,46.4-7.2,58.4-20L317.6,274.8z")
      path(style="fill:#051244;" d="M364,324.4h37.6l8-24h51.2l4.8,24H504L490.4,266l-48-46.4l2.4,12.8c0,0,8,36,9.6,44h-33.6 c3.2-8,16-42.4,16-42.4s3.2-8.8,5.6-14.4")
  symbol#mastercard(viewBox="0 0 504 504")
    path(style="fill:#FFB600;" d="M504,252c0,83.2-67.2,151.2-151.2,151.2c-83.2,0-151.2-68-151.2-151.2l0,0 c0-83.2,67.2-151.2,150.4-151.2C436.8,100.8,504,168.8,504,252L504,252z")
    path(style="fill:#F7981D;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2 c-83.2,0-151.2-68-151.2-151.2")
    path(style="fill:#FF8500;" d="M352.8,100.8c83.2,0,151.2,68,151.2,151.2l0,0c0,83.2-67.2,151.2-151.2,151.2")
    path(style="fill:#FF5050;" d="M149.6,100.8C67.2,101.6,0,168.8,0,252s67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0 c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2 c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216 c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2 C150.4,100.8,150.4,100.8,149.6,100.8z")
    path(style="fill:#E52836;" d="M0,252c0,83.2,67.2,151.2,151.2,151.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0 c5.6-4.8,10.4-10.4,15.2-16h-31.2c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2 c4.8-15.2,8-31.2,8-48c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216 c2.4-5.6,5.6-10.4,8.8-16h53.6c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8")
    path(style="fill:#CB2026;" d="M151.2,403.2c39.2,0,74.4-15.2,101.6-39.2l0,0l0,0c5.6-4.8,10.4-10.4,15.2-16h-31.2 c-4-4.8-8-10.4-11.2-15.2h53.6c3.2-4.8,6.4-10.4,8.8-16h-71.2c-2.4-4.8-4.8-10.4-6.4-16h83.2c4.8-15.2,8-31.2,8-48 c0-11.2-1.6-21.6-3.2-32h-92.8c0.8-5.6,2.4-10.4,4-16h83.2c-1.6-5.6-4-11.2-6.4-16H216c2.4-5.6,5.6-10.4,8.8-16h53.6 c-3.2-5.6-7.2-11.2-12-16h-29.6c4.8-5.6,9.6-10.4,15.2-15.2c-26.4-24.8-62.4-39.2-101.6-39.2h-0.8")
    g
      path(style="fill:#FFFFFF;" d="M204.8,290.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6 h-16c0,0-9.6,52.8-9.6,59.2c0,9.6,5.6,13.6,12.8,13.6C199.2,292.8,203.2,291.2,204.8,290.4z")
      path(style="fill:#FFFFFF;" d="M210.4,264.8c0,22.4,15.2,28,28,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4 c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,210.4,244.8,210.4,264.8z M238.4,241.6c8.8,0,7.2,10.4,7.2,11.2H228C228,252,229.6,241.6,238.4,241.6z")
      path(style="fill:#FFFFFF;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6 c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-36.8,16-36.8,46.4c0,20,9.6,33.6,28.8,33.6 C331.2,292.8,340,290.4,340,290.4z")
      path(style="fill:#FFFFFF;" d="M116.8,227.2c-11.2,0-19.2,3.2-19.2,3.2L95.2,244c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6 c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44 C138.4,228,122.4,227.2,116.8,227.2z M120,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6 C119.2,263.2,120,263.2,120,263.2z")
      path(style="fill:#FFFFFF;" d="M153.6,292c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6c2.4,0,11.2,0.8,11.2,0.8 l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-24,4.8-24,20.8c0,18.4,20,16.8,20,24c0,4.8-5.6,5.6-9.6,5.6c-7.2,0-14.4-2.4-14.4-2.4 l-2.4,14.4C136,290.4,140,292,153.6,292z")
      path(style="fill:#FFFFFF;" d="M472.8,214.4l-3.2,21.6c0,0-6.4-8-15.2-8c-14.4,0-27.2,17.6-27.2,38.4c0,12.8,6.4,26.4,20,26.4 c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8L472.8,214.4z M465.6,256.8c0,8.8-4,20-12.8,20c-5.6,0-8.8-4.8-8.8-12.8 c0-12.8,5.6-20.8,12.8-20.8C462.4,243.2,465.6,247.2,465.6,256.8z")
      path(style="fill:#FFFFFF;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8H67.2l-16,47.2l-0.8-47.2H27.2 l-12.8,76.8H29.6z")
      path(style="fill:#FFFFFF;" d="M277.6,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L260,292h17.6V291.2z")
      path(style="fill:#FFFFFF;" d="M376.8,227.2c-11.2,0-19.2,3.2-19.2,3.2l-2.4,13.6c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6 c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44 C399.2,228,382.4,227.2,376.8,227.2z M380.8,263.2c0,2.4-1.6,15.2-11.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6 C380,263.2,380,263.2,380.8,263.2z")
      path(style="fill:#FFFFFF;" d="M412,291.2c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8h-15.2L394.4,292H412V291.2z")
    g
      path(style="fill:#DCE5E5;" d="M180,279.2c0,9.6,5.6,13.6,12.8,13.6c5.6,0,10.4-1.6,12-2.4l2.4-13.6c-0.8,0-2.4,0.8-4,0.8 c-5.6,0-6.4-3.2-5.6-4.8l4.8-28h8.8l2.4-15.2h-8l1.6-9.6")
      path(style="fill:#DCE5E5;" d="M218.4,264.8c0,22.4,7.2,28,20,28c12,0,16.8-2.4,16.8-2.4l3.2-15.2c0,0-8.8,4-16.8,4 c-17.6,0-14.4-12.8-14.4-12.8H260c0,0,2.4-10.4,2.4-14.4c0-10.4-5.6-23.2-23.2-23.2C222.4,227.2,218.4,244.8,218.4,264.8z M238.4,241.6c8.8,0,10.4,10.4,10.4,11.2H228C228,252,229.6,241.6,238.4,241.6z")
      path(style="fill:#DCE5E5;" d="M340,290.4l3.2-17.6c0,0-8,4-13.6,4c-11.2,0-16-8.8-16-18.4c0-19.2,9.6-29.6,20.8-29.6 c8,0,14.4,4.8,14.4,4.8l2.4-16.8c0,0-9.6-4-18.4-4c-18.4,0-28.8,16-28.8,46.4c0,20,1.6,33.6,20.8,33.6 C331.2,292.8,340,290.4,340,290.4z")
      path(style="fill:#DCE5E5;" d="M95.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0 c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H132l6.4-44c0-18.4-16-19.2-22.4-19.2 M128,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C119.2,263.2,128,263.2,128,263.2z")
      path(style="fill:#DCE5E5;" d="M136,290.4c0,0,4.8,1.6,18.4,1.6c4,0,24,0.8,24-20.8c0-20-19.2-16-19.2-24c0-4,3.2-5.6,8.8-5.6 c2.4,0,11.2,0.8,11.2,0.8l2.4-14.4c0,0-5.6-1.6-15.2-1.6c-12,0-16,4.8-16,20.8c0,18.4,12,16.8,12,24c0,4.8-5.6,5.6-9.6,5.6")
      path(style="fill:#DCE5E5;" d="M469.6,236c0,0-6.4-8-15.2-8c-14.4,0-19.2,17.6-19.2,38.4c0,12.8-1.6,26.4,12,26.4 c9.6,0,15.2-6.4,15.2-6.4l-0.8,5.6h16l12-76.8 M468.8,256.8c0,8.8-7.2,20-16,20c-5.6,0-8.8-4.8-8.8-12.8c0-12.8,5.6-20.8,12.8-20.8 C462.4,243.2,468.8,247.2,468.8,256.8z")
      path(style="fill:#DCE5E5;" d="M29.6,291.2l9.6-57.6l1.6,57.6H52l20.8-57.6L64,291.2h16.8l12.8-76.8h-20l-22.4,47.2l-0.8-47.2h-8.8 l-27.2,76.8H29.6z")
      path(style="fill:#DCE5E5;" d="M260.8,291.2h16.8c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8")
      path(style="fill:#DCE5E5;" d="M355.2,244.8c0,0,7.2-3.2,17.6-3.2c5.6,0,10.4,0.8,10.4,5.6c0,3.2-0.8,4-0.8,4s-4.8,0-7.2,0 c-13.6,0-28.8,5.6-28.8,24c0,14.4,9.6,17.6,15.2,17.6c11.2,0,16-7.2,16.8-7.2l-0.8,6.4H392l6.4-44c0-18.4-16-19.2-22.4-19.2 M388,263.2c0,2.4-9.6,15.2-19.2,15.2c-4.8,0-6.4-4-6.4-6.4c0-4,2.4-9.6,14.4-9.6C380,263.2,388,263.2,388,263.2z")
      path(style="fill:#DCE5E5;" d="M395.2,291.2H412c4.8-26.4,5.6-48,16.8-44c1.6-10.4,4-14.4,5.6-18.4c0,0-0.8,0-3.2,0 c-7.2,0-12.8,9.6-12.8,9.6l1.6-8.8")
  symbol#skrill(viewBox="0 0 496.8 496.8")
    path(style="fill:#B73091;" d="M392.8,180l40-7.2V328h-40V180z M456.8,180v148h40V172.8L456.8,180z M336.8,328h40V216h-40V328z M63.2,231.2c-5.6,0-17.6-0.8-17.6-12c0-12.8,17.6-12.8,24-12.8c11.2,0,26.4,3.2,36.8,6.4c0,0,7.2,2.4,12,4h1.6V216v-35.2l-1.6-0.8 c-12.8-4-28-8.8-54.4-8.8c-46.4,1.6-63.2,28.8-63.2,52C0.8,236.8,6.4,268,60,272c4.8,0,16.8,0.8,16.8,12c0,9.6-11.2,14.4-28,14.4 c-18.4,0-32-4.8-48-8.8v36.8c16,4,35.2,6.4,56.8,6.4c45.6,0,66.4-25.6,66.4-51.2C124,252.8,101.6,234.4,63.2,231.2z M312,213.6 c-38.4,0.8-55.2,18.4-55.2,52V328h40v-50.4c0-20,0-28.8,24-29.6v-33.6C320.8,212.8,312,213.6,312,213.6z M200.8,216 c-0.8,0-8,20-24,39.2v-82.4l-40,8.8V328h40v-43.2c16,18.4,19.2,43.2,19.2,43.2h51.2c-4.8-16-27.2-57.6-27.2-57.6 c20-24.8,28.8-54.4,29.6-54.4H200.8z M356.8,204c11.2,0,20-8.8,20-20s-8.8-20-20-20s-20,8.8-20,20S345.6,204,356.8,204z")
    path(style="fill:#862165;" d="M408.8,176.8l24-4V328h-40L408.8,176.8z M471.2,177.6L456.8,328h40V172.8L471.2,177.6z M336.8,328h40 V216H360L336.8,328z M0.8,223.2c0,13.6,5.6,44.8,58.4,48.8c4.8,0,24,0.8,24,12c0,9.6-19.2,14.4-35.2,14.4c-18.4,0-32-4.8-48-8.8 v36.8c16,4,35.2,6.4,56.8,6.4c45.6,0,66.4-25.6,66.4-51.2c0-28.8-22.4-47.2-60.8-50.4c-5.6,0-16.8-0.8-16.8-12 c0-12.8,17.6-12.8,24-12.8c11.2,0,26.4,3.2,36.8,6.4c0,0,7.2,2.4,12,4h1.6V216v-35.2l-1.6-0.8c-12.8-4-28-8.8-54.4-8.8 M256.8,264 v64h40v-50.4c0-20,0-28.8,24-29.6v-33.6c0-0.8-8.8-0.8-8.8-0.8 M136.8,328h40v-43.2c16,18.4,34.4,43.2,34.4,43.2h35.2 c-4.8-16-27.2-57.6-27.2-57.6c20-24.8,28.8-54.4,29.6-54.4h-24c-0.8,0-32,20-48,39.2V176 M356.8,204c11.2,0,20-8.8,20-20 s-8.8-20-20-20")
  symbol#webmoney(viewBox="0 0 49.888 49.888")
    path(d="M8.029,23.715c-1.124,0-1.701,0.823-1.701,1.963c0,1.185,0.518,1.964,1.776,1.964c0.539,0,0.989-0.15,1.326-0.347v-0.567 c-0.412,0.245-0.787,0.389-1.191,0.389c-0.771,0-1.139-0.396-1.139-1.297h2.442v-0.275C9.543,24.321,8.966,23.715,8.029,23.715z M7.115,25.317c0.082-0.748,0.435-1.101,0.892-1.101c0.405,0,0.787,0.313,0.824,1.101H7.115z M12.016,23.715 c-0.405,0-0.787,0.157-1.013,0.277v-2.136l-0.779,0.187v5.231c0.45,0.239,1.064,0.367,1.462,0.367 c1.087,0,1.761-0.683,1.761-2.085C13.447,24.359,12.945,23.715,12.016,23.715z M11.686,27.116c-0.188,0-0.449-0.014-0.689-0.119 v-2.451c0.3-0.165,0.518-0.247,0.816-0.247c0.502,0,0.848,0.308,0.848,1.258C12.661,26.772,12.241,27.116,11.686,27.116z M27.529,24.839v2.712H26.75V25.01c0-0.592-0.291-0.697-0.676-0.697c-0.299,0-0.682,0.135-0.914,0.27v2.967h-0.778v-3.282 c0.337-0.202,1.049-0.554,1.911-0.554C27.191,23.715,27.529,24.067,27.529,24.839z M18.499,22.238h0.929v5.313h-0.809v-3.853 h-0.067l-1.529,3.853h-0.479l-1.529-3.762h-0.067v3.762h-0.674v-5.313h0.906l1.679,4.188h0.038L18.499,22.238z M21.961,23.715 c-0.989,0-1.709,0.652-1.709,1.963c0,1.281,0.683,1.964,1.709,1.964c1.027,0,1.709-0.683,1.709-1.964 C23.67,24.366,22.95,23.715,21.961,23.715z M21.961,27.116c-0.532,0-0.922-0.41-0.922-1.438c0-1.012,0.428-1.439,0.922-1.439 c0.51,0,0.922,0.427,0.922,1.439C22.883,26.706,22.493,27.116,21.961,27.116z M46.05,28.571l1.321,1.51 c-0.262,0.203-0.549,0.396-0.864,0.574c-0.955,0.545-2.062,0.856-3.237,0.856c-3.617,0-6.568-2.95-6.568-6.567 c0-3.618,2.951-6.568,6.568-6.568c1.03,0,2.008,0.24,2.879,0.666c0.137,0.065,0.272,0.137,0.407,0.215l-0.604,0.541l-0.906-0.939 l-1.533,1.368l-0.908-0.994l-2.859,2.574l1.832,2.019l-0.721,0.632l1.805,2.021l-0.717,0.631l2.578,2.869L46.05,28.571z M49.186,24.495l0.702,0.781l-0.78,0.703l-0.703-0.781L49.186,24.495z M34.355,23.841h0.803l-1.355,3.748 c-0.375,1.035-0.832,1.574-1.693,1.574V28.55c0.51,0,0.824-0.404,1.004-0.959l-1.438-3.749H32.5l0.959,2.759h0.045L34.355,23.841 z M29.927,23.715c-1.125,0-1.701,0.823-1.701,1.963c0,1.185,0.517,1.964,1.775,1.964c0.539,0,0.987-0.15,1.325-0.347v-0.567 c-0.411,0.245-0.786,0.389-1.19,0.389c-0.771,0-1.14-0.396-1.14-1.297h2.443v-0.275C31.441,24.321,30.863,23.715,29.927,23.715z M29.011,25.317c0.084-0.748,0.437-1.101,0.894-1.101c0.403,0,0.787,0.313,0.824,1.101H29.011z M48.105,27.247l1.055,1.172 l-1.172,1.055l-1.056-1.172L48.105,27.247z M44.994,20.05l1.055,1.172l-1.172,1.055l-1.055-1.172L44.994,20.05z M42.517,20.455 l1.406,1.562l-1.562,1.406l-1.406-1.562L42.517,20.455z M45.957,24.632l-1.055-1.171l1.17-1.055l1.057,1.171L45.957,24.632z M47.406,22.879l0.779-0.703l0.702,0.781l-0.778,0.703L47.406,22.879z M5.233,22.238H6.11l-1.215,5.313h-0.81l-1.019-3.74H3.013 l-0.989,3.74h-0.81L0,22.238h0.84l0.839,3.964h0.053l0.974-3.964h0.667l1.042,3.964h0.053L5.233,22.238z M46.959,27.106 l-1.057-1.17l1.172-1.056l1.057,1.17L46.959,27.106z M46.408,20.558l0.781-0.703l0.702,0.781l-0.78,0.703L46.408,20.558z M43.48,26.09l-1.406-1.562l1.562-1.408l1.406,1.562L43.48,26.09z M44.591,28.79l-1.405-1.562l1.561-1.406l1.406,1.562 L44.591,28.79z" fill="#006DF0")
